<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Departure Board</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body class='row'>
    <div class='columns'>
      <h1>Departures</h1>
      <h5>Updated <%= locals[:time] %></h5>
      <table class="hover">
        <thead>
          <tr>
          <% locals[:headers].each do |header| %>
            <th><%= header %></th>
          <% end %>
          </tr>
        </thead>
        <tbody>
          <% locals[:departures].each do |row| %>
            <tr>
            <% row.each do |info| %>
              <td><%= info %></td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>

